@import '../../styles.scss';

.collectionItem {
  display: flex;
  column-gap: 16px;
  box-shadow: 1px 1px 4px 1px $primary;
  border-radius: 10px;
  padding: 10px;
  align-items: center;

  & > div {
    position: relative;
  }

  .count {
    position: absolute;
    background: $accent;
    border-radius: 10px 0px 10px 0px;
    padding: 5px;
    font-size: 16px;
    color: $primary;
    font-weight: bold;
  }

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
  }

  h4 {
    font-weight: 600;
    font-size: 16px;
    color: $primary;
    margin-bottom: 10px;
  }

  .metadata {
    margin-bottom: 5px;

    &:first-of-type strong {
      text-transform: uppercase;
    }

    &:last-of-type strong {
      text-transform: capitalize;
    }

    span {
      color: $accent-dark;
    }

    strong {
      color: $light-primary;
    }
  }
}
