@import '../../styles.scss';

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 24px;
  height: 300px;

  img {
    width: 50px;
    height: 50px;
  }

  p {
    font-weight: 500;
    color: $accent-dark;
  }
}

.container {
  border-top: 1px solid $accent;
  padding-top: 24px;

  h4 {
    font-size: 18px;
    margin-bottom: 24px;
  }
}

.section {
  border: 1px solid $accent;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 32px;

  h5 {
    font-size: 18px;
    color: $primary;
    margin-bottom: 24px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  height: 500px;
  overflow-y: auto;
  padding: 10px;
}
